.form_social {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.form_social a {
    font-size: 0.8em;
    flex-basis: 45%;
}

.form {
    color: #8d8d8d;
}

.form label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.form label span{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.form label span img{
    width: 120%;
}


.form .label_2 {
    display: flex;
    justify-content: space-between;
}

.form .label_2 label {
    width: calc(50% - 10px);
}

.form .field {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    font-size: 1em;
    color: #8d8d8d;
    padding: 15px;
    border: 1px solid #f5f5f5;
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    padding-left: 50px;
}

.form input:focus {
    border-bottom: 1px solid #8d8d8d;
}

.form_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_actions button {
    order: 1;
    outline: none;
}

.form_actions a {
    color: #888888;
    font-weight: bold;
    font-size: 0.875em;
    text-transform: capitalize;
}

.form_legend {
    margin-bottom: 20px;
    color: #191654;
}

.form_register_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 30px;
    color: #8d8d8d;
}
.form_register_action.cad{
    grid-template-columns: 2.5fr 1fr;
}


.form_register_action p {
    font-size: 0.875em;
}